<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tickets</title>
    <link rel="stylesheet" href="/myTicket.css" />
    <link rel="stylesheet" href="/list.css" />
</head>
<body>
    <%- include("component/header") %>
    <div id="ticketList">
    </div>
    <script src="/header.js"></script>
    <script src="/myTicket.js"></script>
</body>
</html>