<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/profile.css" />
</head>
<body>
    <%- include("component/header") %>
    <div id="profileDetail">
        <% if(user){ %>
            <h3><%= user.name %></h3>
            <!-- <h4><%= user.username %></h4> -->
            <h4><%= user.department %></h4>

        <% } %>
    </div>
    <div id="changePasswordContainer">
        <h4>Change password</h4>
        <input type="password" id="oldPassword" placeholder="Enter old password">
        <input type="password" id="newPassword" placeholder="Enter new password">
        <input type="password" id="confirmPassword" placeholder="confirm your password">
        <input type="submit" id="updatePassword" value="Update Password">
    </div>
    <div id="changeNameContainer">
        <h4>Change name</h4>
        <input type="text" id="newname" placeholder="Enter new name">
        <input type="submit" id="updateName" value="Update Name">
    </div>
    <script src="/header.js"></script>
    <script src="/profile.js"></script>
</body>
</html>